@import "tailwindcss";

@theme {
	--color-primary: hsla(308, 31%, 10%, 1);
	--color-secondary: hsla(28, 74%, 18%, 1);
	--color-secondary-muted: hsla(28, 74%, 18%, 0.8);
	--color-accent: hsla(310, 27%, 17%, 1);
	--color-bg-darker: hsla(217, 25%, 90%, 1);
	--color-bg: hsla(216, 28%, 93%, 1);

	--animate-slow-spin: slow-spin 4s linear infinite;

	@keyframes slow-spin {
		to {
			transform: rotate(360deg);
		}
	}
}

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: var(--color-secondary);
	color: var(--color-bg);
}

::-moz-selection {
	background-color: var(--color-secondary);
	color: var(--color-bg);
}

@font-face {
	font-family: "CabinetGrotesk-Variable";
	src: url("/fonts/CabinetGrotesk-Variable.woff") format("woff");
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Satoshi-Variable";
	src: url("/fonts/Satoshi-Variable.woff") format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

body {
	@apply text-secondary leading-relaxed;
	font-family: "Satoshi-Variable", sans-serif;
}

h1 {
	font-family: "CabinetGrotesk-Variable", sans-serif;
}
